<html>
<head>
    <link rel=stylesheet href="styles.css">
</head>

<body>
<h1>Package {{ package.name }}</h1>


{% if package.shortDescription or package.description %}
    <div class="descriptions">
        <p class="shortDescription">{{ package.shortDescription }}</p>
        <p class="description">{{ package.description }}</p>
    </div>
{% endif %}


{% if package.classes|length %}
    <div class="group classes">
        <h3>Classes</h3>
        <ul>
            {% for theclass in package.classes %}
                <li>{{ include('class.html') }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


{% if package.namespaces|length %}
    <div class="group namespaces">
        <h3>Namespaces</h3>
        <ul>
            {% for ns in package.namespaces %}
                <li>{{ include('ns.html') }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


{% if package.functions|length %}
    <div class="group functions">
        <h3>Functions</h3>
        <ul>
            {% for fun in package.functions %}
                <li>{{ include('function.html') }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}




{% if package.functions|length %}
    <h2>Details</h2>

    <div class="group functions details_section">
        <h3>Functions</h3>
        <ul>
            {% for fun in package.functions %}
                <li>{{ include('functionDetails.html') }}</li>
            {% endfor %}
        </ul>
    </div
{% endif %}

</body>
</html>
